/* -------------------------------------------------------
   Basic Styles 
 ------------------------------------------------------ */
* {
	margin: 0;
	padding: 0;
    font-size: 12px;
	font-family: helvetica, arial, sans-serif;
}

body { background: #cccccc; }

.container {
	background: #fff;
	max-width: 960px; /* change to max-width for responsive */
	margin: 0 auto;
	padding: 20px;
}

h1 { 
	font-size: 24px; 
	margin-bottom: 20px;
}

h2 { 
	font-size: 18px; 
	margin-bottom: 10px;
}

/* -------------------------------------------------------
   Grid Styles
 ------------------------------------------------------ */
.grid-wrapper { margin-bottom: 30px; }

.row:before,
.row:after {
    content:"";
    display:table;
}

.row:after { clear:both; }

.row { 
	margin-bottom: 10px;
	clear: both;
}

.col {	
    float: left; 
    position: relative;
}

.col-last { float: right; }
.end { float: left; } 

/* Columns */
.col-12 { width: 100%; }
.col-11 { width: 91.667%; }
.col-10 { width: 83.333%; }
.col-9  { width: 75%; }
.col-8  { width: 66.667%; }
.col-7  { width: 58.3333%; }
.col-6  { width: 50%; }
.col-5  { width: 41.6667%; }
.col-4  { width: 33.3333%; }
.col-3  { width: 25%; }
.col-2  { width: 16.6667%; }
.col-1  { width: 8.3333%; }

.col-centered {
	float: none;
	margin: 0 auto;
}

/* Offset */
.offset-10 { margin-left: 83.333%; }
.offset-9  { margin-left: 75%; }
.offset-8  { margin-left: 66.667%; }
.offset-7  { margin-left: 58.3333%; }
.offset-6  { margin-left: 50%; }
.offset-5  { margin-left: 41.6667%; }
.offset-4  { margin-left: 33.3333%; }
.offset-3  { margin-left: 25%; }
.offset-2  { margin-left: 16.6667%; }
.offset-1  { margin-left: 8.3333%; }

/* Push */
.push-11 { left: 91.667%; }
.push-10 { left: 83.333%; }
.push-9  { left: 75%; }
.push-8  { left: 66.667%; }
.push-7  { left: 58.3333%; }
.push-6  { left: 50%; }
.push-5  { left: 41.6667%; }
.push-4  { left: 33.3333%; }
.push-3  { left: 25%; }
.push-2  { left: 16.6667%; }
.push-1  { left: 8.3333%; }

/* Pull */
.pull-11 { right: 91.667%; }
.pull-10 { right: 83.333%; }
.pull-9  { right: 75%; }
.pull-8  { right: 66.667%; }
.pull-7  { right: 58.3333%; }
.pull-6  { right: 50%; }
.pull-5  { right: 41.6667%; }
.pull-4  { right: 33.3333%; }
.pull-3  { right: 25%; }
.pull-2  { right: 16.6667%; }
.pull-1  { right: 8.3333%; }

/* -------------------------------------------------------
   Grid Presentation
 ------------------------------------------------------ */
.row { background: #FF4C4C; background: rgba(255, 0, 0, 0.7); }
.col:nth-of-type(1n) { background: #19EDED; background: rgba(0, 255, 255, 0.9); }
.col:nth-of-type(2n) { background: #4CC9C9; background: rgba(0, 255, 255, 0.7); }
.col:nth-of-type(3n) { background: #7FA5A5; background: rgba(0, 255, 255, 0.5); }
.col:nth-of-type(4n) { background: #B28282; background: rgba(0, 255, 255, 0.3); }
.col:nth-of-type(5n) { background: #E55E5E; background: rgba(0, 255, 255, 0.1); }

/* -------------------------------------------------------
   Module Styles
 ------------------------------------------------------ */
.module {
	padding: 5px 10px;
	text-align: center;
}