/* -------------------------------------------------------
   Basic Styles 
 ------------------------------------------------------ */
* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: helvetica, arial, sans-serif;
}

body { background: #cccccc; }

.container {
	background: #fff;
	width: 960px; /* change to max-width for responsive */
	margin: 0 auto;
	padding: 20px;
}

h1 { 
	font-size: 24px; 
	margin-bottom: 20px;
}

h2 { 
	font-size: 18px; 
	margin-bottom: 10px;
}

/* -------------------------------------------------------
   Grid Styles
 ------------------------------------------------------ */
.grid-wrapper { margin-bottom: 30px; }

.row:before,
.row:after {
    content:"";
    display:table;
}

.row:after { clear:both; }

.row { 
	margin-bottom: 10px;
	clear: both;
}

.col {	
    float: left; 
    position: relative;
}

.col-last { float: right; }
.end { float: left; } 

/* Columns */
.col-12 { width: 100%; }
.col-11 { width: 91.667%; }
.col-10 { width: 83.333%; }
.col-9  { width: 75%; }
.col-8  { width: 66.667%; }
.col-7  { width: 58.3333%; }
.col-6  { width: 50%; }
.col-5  { width: 41.6667%; }
.col-4  { width: 33.3333%; }
.col-3  { width: 25%; }
.col-2  { width: 16.6667%; }
.col-1  { width: 8.3333%; }


/* of 1 */
.col-1of1 { width: 100% }

/* of 2 */
.col-1of2 { width: 50%; }

/* of 3 */
.col-1of3 { width: 33.333%; }
.col-2of3 { width: 66.667%; }

/* of 4 */
.col-1of4 { width: 25%; }
.col-2of4 { width: 50%; }
.col-3of4 { width: 75%; }

/* of 5 */
.col-1of5 { width: 20%; }
.col-2of5 { width: 40%; }
.col-3of5 { width: 60%; }
.col-4of5 { width: 80%; }

/* of 6 */
.col-1of6 { width: 16.667%; }
.col-2of6 { width: 33.333%; }
.col-3of6 { width: 50%; }
.col-4of6 { width: 66.667%; }
.col-5of6 { width: 83.333%; }

.col-centered {
	float: none;
	margin: 0 auto;
}

/* Prefix */
.prefix-1of2,
.prefix-2of4 { margin-left: 50%; }
.prefix-1of3 { margin-left: 33.333%; }
.prefix-2of3 { margin-left: 66.667%; }
.prefix-1of4 { margin-left: 25%; }
.prefix-3of4 { margin-left: 75%; }
.prefix-1of5 { margin-left: 20%; }
.prefix-2of5 { margin-left: 40%; }
.prefix-3of5 { margin-left: 60%; }
.prefix-4of5 { margin-left: 80%; }

/* Suffix */
.suffix-1of2,
.suffix-2of4 { margin-right: 50%; }
.suffix-1of3 { margin-right: 33.333%; }
.suffix-2of3 { margin-right: 66.667%; }
.suffix-1of4 { margin-right: 25%; }
.suffix-3of4 { margin-right: 75%; }
.suffix-1of5 { margin-right: 20%; }
.suffix-2of5 { margin-right: 40%; }
.suffix-3of5 { margin-right: 60%; }
.suffix-4of5 { margin-right: 80%; }
[class*="suffix"].col-last { float: left; }

/* Push */
.push-1of2 { left: 50%; }
.push-1of6 { left: 16.667%; }
.push-1of3,
.push-2of6 { left: 33.333%; }
.push-2of3,
.push-4of6 { left: 66.667%; }
.push-5of6 { left: 83.333%; }

/* Pull */
.pull-1of2 { right: 50%; }
.pull-1of6 { right: 16.667%; }
.pull-1of3,
.pull-2of6 { right: 33.333%; }
.pull-2of3,
.pull-4of6 { right: 66.667%; }
.pull-5of6 { right: 83.333%; }

/* -------------------------------------------------------
   Grid Presentation
 ------------------------------------------------------ */
.row { background: #FF4C4C; background: rgba(255, 0, 0, 0.7); }
.col:nth-of-type(1n) { background: #19EDED; background: rgba(0, 255, 255, 0.9); }
.col:nth-of-type(2n) { background: #4CC9C9; background: rgba(0, 255, 255, 0.7); }
.col:nth-of-type(3n) { background: #7FA5A5; background: rgba(0, 255, 255, 0.5); }
.col:nth-of-type(4n) { background: #B28282; background: rgba(0, 255, 255, 0.3); }
.col:nth-of-type(5n) { background: #E55E5E; background: rgba(0, 255, 255, 0.1); }

/* -------------------------------------------------------
   Module Styles
 ------------------------------------------------------ */
.module {
	padding: 5px 10px;
	text-align: center;
}