/* -------------------------------------------------------
   Basic Styles 
 ------------------------------------------------------ */
* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: helvetica, arial, sans-serif;
}

body { background: #cccccc; }

.container {
	background: #fff;
	width: 960px; /* change to max-width for responsive */
	margin: 0 auto;
	padding: 20px;
}

h1 { 
	font-size: 24px; 
	margin-bottom: 20px;
}

h2 { 
	font-size: 18px; 
	margin-bottom: 10px;
}

/* -------------------------------------------------------
   Grid Styles
 ------------------------------------------------------ */
.grid-wrapper { margin-bottom: 30px; }

.grid-group:before,
.grid-group:after {
    content:"";
    display:table;
}

.grid-group:after { clear:both; }

.grid-group { 
	margin-bottom: 10px;
	clear: both;
}

.grid-col {	float: left; }
.col-last { float: right; }

/* of 1 */
.col-1of1 { width: 100% }

/* of 2 */
.col-1of2 { width: 50%; }

/* of 3 */
.col-1of3 { width: 33.333%; }
.col-2of3 { width: 66.667%; }

/* of 4 */
.col-1of4 { width: 25%; }
.col-2of4 { width: 50%; }
.col-3of4 { width: 75%; }

/* of 5 */
.col-1of5 { width: 20%; }
.col-2of5 { width: 40%; }
.col-3of5 { width: 60%; }
.col-4of5 { width: 80%; }

/* of 6 */
.col-1of6 { width: 16.667%; }
.col-2of6 { width: 33.333%; }
.col-3of6 { width: 50%; }
.col-4of6 { width: 66.667%; }
.col-5of6 { width: 83.333%; }

.col-centered {
	float: none;
	margin: 0 auto;
}

/* Prefix */
.prefix-1of2,
.prefix-2of4 { margin-left: 50%; }
.prefix-1of3 { margin-left: 33.333%; }
.prefix-2of3 { margin-left: 66.667%; }
.prefix-1of4 { margin-left: 25%; }
.prefix-3of4 { margin-left: 75%; }
.prefix-1of5 { margin-left: 20%; }
.prefix-2of5 { margin-left: 40%; }
.prefix-3of5 { margin-left: 60%; }
.prefix-4of5 { margin-left: 80%; }

/* Suffix */
.suffix-1of2,
.suffix-2of4 { margin-right: 50%; }
.suffix-1of3 { margin-right: 33.333%; }
.suffix-2of3 { margin-right: 66.667%; }
.suffix-1of4 { margin-right: 25%; }
.suffix-3of4 { margin-right: 75%; }
.suffix-1of5 { margin-right: 20%; }
.suffix-2of5 { margin-right: 40%; }
.suffix-3of5 { margin-right: 60%; }
.suffix-4of5 { margin-right: 80%; }
[class*="suffix"].col-last { float: left; }

/* -------------------------------------------------------
   Grid Presentation
 ------------------------------------------------------ */
.grid-group { background: #FF4C4C; background: rgba(255, 0, 0, 0.7); 
 }
.grid-col:nth-of-type(1n) { background: #19EDED; background: rgba(0, 255, 255, 0.9); }
.grid-col:nth-of-type(2n) { background: #4CC9C9; background: rgba(0, 255, 255, 0.7); }
.grid-col:nth-of-type(3n) { background: #7FA5A5; background: rgba(0, 255, 255, 0.5); }
.grid-col:nth-of-type(4n) { background: #B28282; background: rgba(0, 255, 255, 0.3); }
.grid-col:nth-of-type(5n) { background: #E55E5E; background: rgba(0, 255, 255, 0.1); }

/* -------------------------------------------------------
   Module Styles
 ------------------------------------------------------ */
.module {
	padding: 10px;
	text-align: center;
}